*{
    padding: 0px;;
    margin: 1px;;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration:none;
}
.medsos {
    padding: 5px 0;
    background-image:url(abstrak.jpg) ;
    background-size: cover;
}
.medsos ul li {
    display: inline-block;
    color: black;
    margin-right: -3%;
    margin-left: 5%;
}
.medsos ul li a:hover{
    background-color: rgb(169, 179, 179);
}
.container {
    width: 90%;
    margin:0 auto;
}
.container:after{
    content:"";
    display: block;
    clear: both;
}

header h1{
    float: left;
    padding: 15px 0px;
    color: rgb(6, 151, 151);
    font-size: 40px;
}
header ul{
    float: right;
}
header ul li{
    display:inline-block
}
header ul li a {
    padding: 25px 10px;
    display: inline-block;
}
header ul li a:hover{
    background-color: rgb(5, 69, 85);
    color: white;
}
.active{
    background-color: rgb(5, 69, 85);
    color: white;
}
.banner{
    height: 60vh;
    background-image: url('banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(74, 140, 158, 0.6) ;
}
.banner h2{
    color: white;
    font-size: 30px;
    z-index: 1;
    padding: 29px 25px;
    border: 3px solid;
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: rgb(14, 68, 82);
    font-size: x-large;
    margin-bottom: 20px;
}
.container img{
    float: left; 
    margin: 10px; 
    margin-top: 5px; 
    margin-bottom:auto; 
    height: 300px; 
    border: solid rgb(151, 137, 137) 4px; padding: 1px;
}
.about p {
    color: rgb(13, 3, 22);
    word-spacing: 6px;
    line-height: 26px;
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
}

.photo {
    line-height: 0%;
    background-color: rgb(79, 117, 124); 
    margin-top: 0px;
    margin-bottom: 25
}
.container h4{
    color: rgb(8, 8, 8);
    font-size: 40px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}